<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content='text/html;charset=utf-8'>
  <title>Html-Rss-Spider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.ico">
  <style>
  a {
    text-decoration: none;
  }
  .typeName{
    color:#be2c37;
  }
  .news_list{
    clear:left;
  }
  .news_list ul li{
    clear:left;
    height: 56px;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
  }
  .news_list ul li img{
    width:70px;
    height:52px;
    padding-right: 10px;
    float: left;
  }
  .news_list ul li .meta {
    padding-left: 10px;
    overflow: hidden;
  }
  .news_list ul li p{
    margin-left: 3px;
    overflow: hidden;
  }
  </style>
</head>
<body>

<div class="container">
  <% channelList.forEach(function(channel) { %>
  <h4 class="columns twelve typeName"><%= channel.typeName %></h4>
  <div class="columns twelve news_list">
    <ul>
      <% channel.posts.forEach(function(post) { %>
      <li>
        <img src="<%= post.titlePic %>" />
        <div class="info">
          <p><a href="/post/<%= post._id %>" class="columns twelve" target="_blank"><%= post.title %></a></p>
          <div class="meta">
            <span>发布时间：<%= locals.moment(post.pubDate).format("YYYY-MM-DD") %></span> <span style="margin-left: 30px;">来源：<a href="<%= post.link %>" target="_blank"><%= post.source %></a></span>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
  <hr>
  <% }); %>
</div>

</body>
</html>
